/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  min-height: 100vh; 
  text-align: center; 
  align-items: center;
}

.container#search {
  background: #4286f4; 
}

.flex {
  flex: 1;
}

h1 {
  color: white; 
  font-size: 4em;
}

h2 {
  color: white;
}

input#zip {
  width: 40%; 
  font-size: 2em; 
  text-align: center; 
  border: 1px solid black; 
  font-weight: 700; 
  color: #ed5ea3; 
  font-family: 'Lato';
}

input#submit {
  background: #ed5ea3; 
  border: 1px solid black; 
  border-radius: 5%; 
  width: 15%; 
  font-size: 2em; 
  font-weight: 400; 
  font-family: 'Lato'; 
  width: 150px;
}

.container#politicians {
  background: #0048bc;
}

.card {
  flex: 1;
  color: white;
}

.card img {
  height: 200px; 
  border: 5px 
  solid #4286f4; 
  border-radius: 10%;
}

.card h2, .card h3 {
  margin: 0;
}

.card a {
  text-decoration: none;
  color: white;
}