<!DOCTYPE html>
<html>
  <head>
    <title>Find My Rep!</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body ng-app="app">
    <%= yield %>
  </body>
</html>
